html{
    background-color: black;
}
.sideMenu .container-md{
    background: rgb(38, 38, 38);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    /* box-shadow: 5px -.5px rgba(0, 0, 0, 0.468); x,y, color */
    
}

.logo{
    margin-top: 25%;
    text-align: center;
}
#logoA{
    color: rgb(216, 216, 216);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 0;
}
#logoB{
    color: rgb(216, 216, 216);
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 100;
}

.line {
    height: 1px;
    background:  rgb(216, 216, 216);
    width: 100px;
    margin: -10px auto;
   
  }

.nav-item a{
    color: rgb(216, 216, 216);
}

.nav-item a:hover{
    color:rgb(144, 144, 144);
}

.menu{
   text-align: center;
   margin-top: 60%;
}

.sm-icons i{
    color: rgb(216, 216, 216);
    padding-right: 2px;
    
}

.sm-icons{
    text-align: center;
    margin-top: 60%;
    
  
}

.modeButton{
    text-align: center;
    padding-top: 25%;
}


.modeButton span{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}


.about{
    text-align: center;
    width: 50%;
    float: right;
    margin: 5% 17%;
}

.about p, img {
    color:  rgb(216, 216, 216);
}

.profile-img img{
    /* padding-bottom: 5%; */
    width:100%; 
    
    /* height: auto; */
    /* border-radius: 50%; */
}


.profile-img{
   margin: 0 auto;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 7%;

}


#phReference{
    font-size: 12px;
    color: rgb(79, 79, 79);
}




 /* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

 /* Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* // Large devices (desktops, 992px and up) 
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* // Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { ... } */