html body{
    background-color: black;  
  }
  
  .lightMode{
    background-color: white;
    
  }

.sideMenu .container-md{
   
    background-color: rgb(38, 38, 38);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
  
    
}

.logo{
    margin-top: 25%;
    text-align: center;
}
#logoA{
    color: rgb(216, 216, 216);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 0;
}
#logoB{
    color: rgb(216, 216, 216);
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 100;
}

.line {
    height: 1px;
    background:  rgb(216, 216, 216);
    width: 100px;
    margin: -10px auto;
   
  }

.nav-item a{
    color: rgb(216, 216, 216);
}

.nav-item a:hover{
    color:rgb(144, 144, 144);
}

.menu{
   text-align: center;
   margin-top: 60%;
}

.sm-icons i{
    color: rgb(216, 216, 216);
    padding-right: 2px;
    
}

.sm-icons{
    text-align: center;
    margin-top: 60%;
    
  
}

.modeButton{
    text-align: center;
    padding-top: 25%;
}


.modeButton span{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}


.about{
    text-align: center;
    width: 50%;
    float: right;
    margin: 5% 17%;
}



.about p, img {
    color:  rgb(216, 216, 216);
}

.profile-img img{
  
    width:100%; 
   
}


.profile-img{
   margin: 0 auto;
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 7%;

}


#phReference{
    font-size: 12px;
    color: rgb(79, 79, 79);
}


/* Small to Medium devices */
@media  (max-width: 991.98px) {
   
    .about{
        margin: 0 auto;
        width: 100%;
    }

   
    .profile-img{
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    #aboutP{
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobButton{
      display: block;
      margin-top: 30px;
      border: none;
      width: 30px;
      background-color: rgb(144, 144, 144);
    }
    html{
      overflow-y: scroll;
    }
    .sideMenu .container-md{
     
      background-color: rgb(38, 38, 38);
      position:relative !important;
      width: 100%;
      padding: 20px 0;
      transition: all 0.5s ease;
  
      margin-top: 0;
    }
  
    .logo{
      margin-top: 0;
    }
  
    .menu{
      margin-top: 5%;
    }
  
    .sm-icons{
      margin-top: 5%;
    }
  
    .modeButton{
      margin-top: 5%;
      padding-top: 0;
    }
  
  
  
  
    }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px)  {  
    .mobButton{
      
      display: none;
    }
    #mobileM{
      display: block;
    }

    .mobButton{
        display: none;
      }
     
      .contact{
        margin-top: 5%;
      }
   
   }
  
  
 