html{
    background-color: black;
}
.sideMenu .container-md{
    background: rgb(38, 38, 38);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    /* box-shadow: 5px -.5px rgba(0, 0, 0, 0.468); x,y, color */
    
}

.logo{
    margin-top: 25%;
    text-align: center;
}
#logoA{
    color: rgb(216, 216, 216);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 0;
}
#logoB{
    color: rgb(216, 216, 216);
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 100;
}

.line {
    height: 1px;
    background:  rgb(216, 216, 216);
    width: 100px;
    margin: -10px auto;
   
  }

.nav-item a{
    color: rgb(216, 216, 216);
}

.nav-item a:hover{
    color:aqua;
}

.menu{
   text-align: center;
   margin-top: 60%;
}

.sm-icons i{
    color: rgb(216, 216, 216);
    padding-right: 2px;
    
}

.sm-icons{
    text-align: center;
    margin-top: 70%;
    
  
}